.tours-page {
  .section-header {
    height: 38vw;
    position: relative;
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - var(--section-rotate)),
      0 100%
    );

    .header__hero {
      height: 100%;
      position: relative;

      &-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
        opacity: 0.85;
      }

      &-img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        object-position: 50% 25%;
      }
    }

    .heading-box {
      position: absolute;
      bottom: 13vw;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      &__group {
        color: #f7f7f7;
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 700;
        text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
      }
    }
  }

  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2rem 0;
  }

  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;

    .btn-pagination {
      background-color: #28b487;
      color: #fff;
      font-size: 1.6rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s, box-shadow 0.3s;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  
      &:hover {
        background-color: #55c57a;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
      }
  
      &:disabled {
        background-color: #bbb;
        cursor: not-allowed;
        box-shadow: none;
      }
    }

    .pagination-info {
      font-size: 1.6rem;
      font-weight: bold;
      margin: 0 1.5rem;
    }
  }

  .go-to-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    label {
      font-size: 1.5rem;
      margin-right: 1rem;
    }

    .go-to-page-input {
      padding: 0.5rem;
      font-size: 1.6rem;
      width: 4rem;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
}