.section-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem; 
    position: relative;
    
    background-color: #f7f7f7;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  
    label {
      font-size: 1.6rem;
      font-weight: 600;
      color: #333;
      margin-right: 1rem; 
    }
  
    select {
      font-size: 1.6rem;
      padding: 0.5rem 1rem;
      border: 1px solid #ddd;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      background-color: #fff;
      color: #333;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      transition: all 0.3s;
  
      &:focus {
        outline: none;
        border-color: #28b487; 
      }
    }
  
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right bottom, #7dd56f, #28b487); 
      opacity: 0.85;
      z-index: -1;
      transform: translateY(-50%);
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }