//Color
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #098833;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertirary-light: #2998ff;
$color-tertirary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-light: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

$oranged-color: #ff4500;
$oranged-color-light: #f58258;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$horizontal-gutter: 6rem;