.section {
  background-color: #fcfcfc;
  padding: 8rem 5rem;
}

.heading {
  text-align: center;
  margin-bottom: 4rem;

  &-primary {
    font-size: 3rem;
    font-weight: 700;

    &--main {
      color: #7dd56f;
    }

    &--sub {
      font-size: 1.8rem;
      color: #28b487;
    }
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;

  .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    padding: 2rem;
    width: 30rem;
    text-align: center;

    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
    }

    &__avatar {
      border-radius: 50%;
      width: 90%;
      margin-bottom: 1rem;
      object-fit: cover;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
    }

    &__name {
      font-size: 2rem;
      font-weight: 600;
    }

    &__details {
      margin-bottom: 2rem;

      &__detail {
        font-size: 1.5rem;
        margin-bottom: 1rem;

        span {
          font-weight: 700;
          margin-right: 0.5rem;
        }
      }
    }

    &__actions {
      display: flex;
      justify-content: space-around;

      .btn {
        padding: 1rem 2rem;
        font-size: 1.4rem;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.2s ease;

        &--update {
          background-color: #28b487;
          color: #fff;

          &:hover {
            background-color: #239e6e;
          }
        }

        &--delete {
          background-color: #ff4d4d;
          color: #fff;

          &:hover {
            background-color: #e63939;
          }
        }
      }
    }
  }
}
